* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.container{
    width:100%;
    height: 100vh;
    background: linear-gradient(rgb(241, 234, 241), black);
    padding-top: 20px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items:center;
}

.carousel{
    width: 90%;
    height: 80vh;
    display:flex;
    position: relative;
}

 img{
    height: 100%;
    width: 95%;
    margin:0 auto;
    border-radius: 20px;

    display: none;
}

.prev, .next{
    font-size: 100px;
    align-self: center;
    cursor: pointer;
}

.prev:hover, .next:hover{
    color:rgb(32, 31, 31)
}

.indicators{
    width: 160px;
    height: 7%;
    background: rgba(0,0,0,.7);
    position: absolute;
    bottom:20px;
    right:calc(50% - 80px);
    left:calc(50% - 80px);
    border-radius: 999px
}

.indicators ul{
    width: 100%;
    display:flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.indicators ul li{
    display:inline-block;
    background-color:white ;
    width:15px;
    height: 15px;
    border-radius: 50%;
}

.carousel  img.active {
   display: inline-block;
}

.indicators ul li.blue{
    background-color: rgb(45, 113, 238) ;
}







